@media (min-width: 1480px) {  
    .me img{
        width: 100vw;
        height: 600px;
    }
}

@media (min-width: 980px) and (max-width: 1480px) {

    .main_matter_picture_left_side h2{
        transition: 0.3s ease;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 70px;
        width: 65%;
        margin-top: -40px;
        margin-bottom: -20px;
    }
    
    .main_matter_picture_left_side p{
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 20px;
        width: 35%;
        color: #ffffff;
    }
    
    .me img{
        width: 90vw;
        height: 600px;
    }
}



@media (min-width: 500px) and (max-width: 830px) {
    .number_location{
        font-size: 60px;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    ._{
        height: 30px;
        width: 2px;
    }

    .introduction{
       margin-top: 10px;
       font-size: 10px;
       text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    .introduction div{
       font-size: 20px;
       text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    .left_side_section_one{
        height: 100vh;
        width: 100vw;
    }

    .main_matter_picture_left_side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -10px;
    }

    .main_matter_picture_left_side_2{
        display: flex;
        flex-direction: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .main_matter_picture_left_side h2{
        transition: 0.3s ease;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 2vw;
        width: 80%;
        margin-top: -40px;
        margin-bottom: -10px;
    }

    .menu{
        height: 50px;
        width: 90px;
        margin-top: 50px;
        margin-right: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        color: rgb(226, 223, 223);
        background-color: transparent;
        border: 0px;
    }

    .section_locate{
        animation: 1s intro_main_matter_picture_reverse ease;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    label{
        font-size: 2.5vw;
    }

    .main_matter_picture_left_side h1{
        margin-bottom: 50px;
    }
    
    .main_matter_picture_left_side p{
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 3vw;
        width: 80%;
        color: #ffffff;
        margin-bottom: 10px;
    }
    
    .me{
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: intro_main_matter_picture_pic 1s ease;
        margin-left: 0px;
        height: auto;
        margin-bottom: 30px;
    }
    
    .me img{
        height: 400px;
        width: auto;
    }

    .git-logo{
        background-color: #ffffff;
        border-radius: 50%;
        height: 90px;
    }
    
    .linkend-logo{
        height: 90px;
        background-color: #ffffff;
        border-radius: 4px;
    }

    .flex_direction{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 3;
    }

    /*
    segunda sec
    */

    .card_top, .card_bottom{
        height: 160px;
        width: 290px;
        backdrop-filter: blur(7px) brightness(80%) sepia(1%);
        margin-top: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-self: center;
        flex-direction: column;
        font-weight: bold;
        scale: 0.8;
        margin-right: -40px;
    }

    .journey_bottom{
        margin-left: 0px;
        width: max-content;
        height: 50%;
        align-items: end;
        justify-content: center;
        display: flex;
        position: relative;
    }
    
    .card_span, .card_span_bottom{
        width: 100px;
    }

    .section_two_journey_rigth_side_content{
        top: 0;
        height: 60%;
        width: 80%;
        background-color: #252525;
        border-radius: 30px;
        background-image: url(https://i.redd.it/57ofeof1pgy01.png);
        cursor: grab;
        display: inline-block ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        color: #000;
        
    }

    .card_span_noborder{
        width: 100px;
    }

    /*terceira*/
    
    .section_tree_journey_rigth_side{
        
    }    

    .proj{
        height: 100%;
        width: 150px;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        position: relative;
        overflow: hidden;
    }

    .proj h1{
        font-size: 10vw;
        transform: rotate(90deg);
        white-space: nowrap;
        transition: 0.3s ease;
    }

    .rigth_side_project{
        height: 100%;
        width: 300px;
        position: absolute;
        margin-right: -100px;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .proj:hover{
        width: 450px;
    }
    
    .proj:hover .rigth_side_project{
        margin-left: -0px;
    }
    
    .proj:hover h1{
        margin-left: -315px;
    }
    
    .proj h1::first-letter{
        border-bottom: 5px solid white;
    }
    
    .preview{
        width: 90%;
        height: 13%;
        background-color: rgb(0, 136, 255);
        margin-top: 40px;
        border-radius: 10px;
    }
    
    .flex{
        display: flex;
        width: 100%;
        height: 12%;
    }
    
    .left_project, .rigth_project{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }
    
    .site_btn{
        z-index: 0;
        width: 90%;
        height: 50px;
        border: 1px solid white;
        color: white;
        font-weight: bold;
        font-size: 2vw;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        text-decoration: none;
    }
    
    .site_btn:hover::before{
        width: 100%;
        background-color: rgb(14, 13, 13);
    }
    
    .description{
        width: 100%;   
        font-size: 2vw;
    }
    
    .title{
        font-size: 20px;
    }
    
    .techno{
        gap: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .preview-image{
        height: 100%;
        width: 100%;
        border-radius: 2px;
    }
    
    .techno img{
        width: 10px;
        height: 10px;
    }
    
    .site_btn span{
        margin-top: 0px;
        font-size: 3vw;
    }
    
    .site_btn::before{
        transition: 0.3s ease;
        position: absolute;
        content: '';
        height: 100%;
        width: 0%;
        z-index: -1;
    }
    
    .techno-list {
        margin-left: -20px;
        padding: 0;
        display: flex;
    }
    
    .tech-item {
        margin-left: 20px;
        margin-right: -10px;
        font-size: 36px;
        list-style-type: none;
    }


    /*QUARTA*/

    .section_four_journey_rigth_side h1{
        font-size: 25px;
        font-weight: 300;
    }
    
    .section_four_journey_rigth_side h2{
        font-weight: 300;
        font-size: 23px;
        text-align: center;
        margin-top: -10px;
    }

    .input_text{
        background-color: transparent;
        border-bottom: 1px solid white;
        color: #e6e5e5;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        font-size: 6px;
        resize: none;
        width: 100%;
    }

    .input_text::placeholder{
        font-size: 4vw;
    }
    
    .email_adress_name{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        width: 65vw;
    }
    
    .section_four_journey_rigth_side{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input_area{
        height: 50px;
        background-color: transparent;
        border-bottom: 1px solid white;
        color: #ffffff;
        font-size: 30px;
        width: 100%;
    }
    
    .input_area::placeholder{
        font-size: 20px;
    }

    .message{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .send_msg{
        transition: 0.3s ease;
        width: 80%;
        height: 70px;
        font-weight: 100;
        background-color: transparent;
        border: 1px solid white;
        color: #c4b9b9;
        font-size: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        position: relative;
        z-index: 0;
        margin-top: -20px;
        font-size: 20px;
    }

    .send_msg span{
        color: #ffffff;
        font-size: 20px;
    }

    .other_conect p{
        margin-top: 50px;
        font-size: 3vw;
        margin-bottom: 10px;
        text-align: center;
    }

    .other_conect img{
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
    }

    #instaicon{
        width: 47px;
        height: 47px;
        background-color: #000;
    }
}

@media (min-width: 830px) and (max-width: 989px) {
    /*
    primeira sec
    */

    .number_location{
        font-size: 60px;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    ._{
        height: 30px;
        width: 2px;
    }

    .introduction{
       margin-top: 10px;
       font-size: 10px;
       text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    .introduction div{
       font-size: 20px;
       text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    .left_side_section_one{
        height: 100vh;
        width: 100vw;
    }

    .main_matter_picture_left_side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -10px;
    }

    .main_matter_picture_left_side_2{
        display: flex;
        flex-direction: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .main_matter_picture_left_side h2{
        transition: 0.3s ease;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 4vw;
        width: 80%;
        margin-top: -40px;
        margin-bottom: -10px;
    }

    .menu{
        height: 50px;
        width: 90px;
        margin-top: 50px;
        margin-right: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        color: rgb(226, 223, 223);
        background-color: transparent;
        border: 0px;
    }

    .section_locate{
        animation: 1s intro_main_matter_picture_reverse ease;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main_matter_picture_left_side h1{
        margin-bottom: 50px;
    }
    
    .main_matter_picture_left_side p{
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 20px;
        width: 80%;
        color: #ffffff;
        margin-bottom: 10px;
    }
    
    .me{
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: intro_main_matter_picture_pic 1s ease;
        margin-left: 0px;
        height: auto;
        margin-bottom: 30px;
    }
    
    .me img{
        height: 400px;
        width: auto;
    }

    .git-logo{
        background-color: #ffffff;
        border-radius: 50%;
        height: 90px;
        margin-top: -5px;
    }
    
    .linkend-logo{
        margin-top: -5px;
        height: 90px;
        background-color: #ffffff;
        border-radius: 4px;
    }

    .flex_direction{
        gap: 5px;
    }

    .flex_direction{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 3;
    }

    /*
    segunda sec
    */

    .card_top, .card_bottom{
        height: 160px;
        width: 290px;
        backdrop-filter: blur(7px) brightness(80%) sepia(1%);
        margin-top: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-self: center;
        flex-direction: column;
        font-weight: bold;
        scale: 0.8;
        margin-right: -40px;
    }

    .journey_bottom{
        margin-left: 0px;
        width: max-content;
        height: 50%;
        align-items: end;
        justify-content: center;
        display: flex;
        position: relative;
    }
    
    .card_span, .card_span_bottom{
        width: 100px;
    }

    .section_two_journey_rigth_side_content{
        top: 0;
        height: 60%;
        width: 80%;
        background-color: #252525;
        border-radius: 30px;
        background-image: url(https://i.redd.it/57ofeof1pgy01.png);
        cursor: grab;
        display: inline-block ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        color: #000;
        
    }

    .card_span_noborder{
        width: 100px;
    }

        /*QUARTA*/

        .section_four_journey_rigth_side h1{
            font-size: 25px;
            font-weight: 300;
        }
        
        .section_four_journey_rigth_side h2{
            font-weight: 300;
            font-size: 23px;
            text-align: center;
            margin-top: -10px;
        }
    
        .input_text{
            background-color: transparent;
            border-bottom: 1px solid white;
            color: #e6e5e5;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            font-size: 6px;
            resize: none;
            width: 100%;
        }
    
        .input_text::placeholder{
            font-size: 3vw;
        }
        
        .email_adress_name{
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            width: 65vw;
        }
        
        .section_four_journey_rigth_side{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .input_area{
            height: 50px;
            background-color: transparent;
            border-bottom: 1px solid white;
            color: #ffffff;
            font-size: 30px;
            width: 100%;
        }
        
        .input_area::placeholder{
            font-size: 20px;
        }
    
        .message{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .send_msg{
            transition: 0.3s ease;
            width: 80%;
            height: 70px;
            font-weight: 100;
            background-color: transparent;
            border: 1px solid white;
            color: #c4b9b9;
            font-size: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            position: relative;
            z-index: 0;
            margin-top: -20px;
            font-size: 20px;
        }
    
        .send_msg span{
            color: #ffffff;
            font-size: 20px;
        }
    
        .other_conect p{
            margin-top: 50px;
            font-size: 2vw;
            margin-bottom: 10px;
            text-align: center;
        }
    
        .other_conect img{
            width: 40px;
            height: 40px;
            background-color: rgb(255, 255, 255);
        }
    
        #instaicon{
            width: 37px;
            height: 37px;
            background-color: #000;
        }
}

@media (min-width: 0px) and (max-width: 500px) {
    /*
    primeira sec
    */

    .number_location{
        font-size: 30px;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        margin-bottom: 2px;
    }

    .section_locate{
        scale: 0.5;
        margin-top: -110px;
        margin-left: 10px;
    }

    ._{
        height: 10px;
        width: 2px;
    }

    .introduction{
       margin-top: 10px;
       font-size: 10px;
       text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    .introduction div{
       font-size: 10px;
       text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }

    .left_side_section_one{
        height: 100vh;
        width: 100vw;
    }

    .main_matter_picture_left_side{
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: -10px;
    }

    .main_matter_picture_left_side_2{
        display: flex;
        flex-direction: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .main_matter_picture_left_side h2{
        transition: 0.3s ease;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 30px;
        width: 80%;
        margin-top: -40px;
        margin-bottom: -10px;
    }

    .menu{
        height: 50px;
        width: 90px;
        margin-top: 45px;
        margin-right: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        color: rgb(189, 174, 174);
        background-color: transparent;
        border: 0px;
        scale: 0.6;
    }

    .section_locate{
        animation: 1s intro_main_matter_picture_reverse ease;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: absolute;
        top: 60%;
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .main_matter_picture_left_side h1{
        margin-bottom: 50px;
    }
    
    .main_matter_picture_left_side p{
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 15px;
        width: 80%;
        color: #ffffff;
        margin-bottom: 10px;
    }
    
    .me{
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: intro_main_matter_picture_pic 1s ease;
        margin-left: 0px;
        height: auto;
        margin-bottom: 30px;
    }
    
    .me img{
        height: 40vh;
        width: auto;
    }

    .git-logo{
        background-color: #ffffff;
        border-radius: 50%;
        height: 60px;
    }
    
    .linkend-logo{
        height: 60px;
        background-color: #ffffff;
        border-radius: 4px;
    }

    .flex_direction{
        gap: 5px;
    }

    .flex_direction{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 3;
    }

    /*
    segunda sec
    */

    .card_top, .card_bottom{
        height: 160px;
        width: 290px;
        backdrop-filter: blur(7px) brightness(80%) sepia(1%);
        margin-top: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-self: center;
        flex-direction: column;
        font-weight: bold;
        scale: 0.8;
        margin-right: -40px;
    }

    .journey_bottom{
        margin-left: 0px;
        width: max-content;
        height: 50%;
        align-items: end;
        justify-content: center;
        display: flex;
        position: relative;
    }
    
    .card_span, .card_span_bottom{
        width: 100px;
    }

    .section_two_journey_rigth_side_content{
        top: 0;
        height: 60%;
        width: 80%;
        background-color: #252525;
        border-radius: 30px;
        background-image: url(https://i.redd.it/57ofeof1pgy01.png);
        cursor: grab;
        display: inline-block ;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        color: #000;
        
    }

    .card_span_noborder{
        width: 100px;
    }

    /*terceira*/
    
    .section_tree_journey_rigth_side{
        
    }    

    .proj{
        height: 100%;
        width: 90px;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        position: relative;
        overflow: hidden;
    }

    .proj h1{
        font-size: 10vw;
        transform: rotate(90deg);
        white-space: nowrap;
        transition: 0.3s ease;
    }

    .rigth_side_project{
        height: 100%;
        width: 150px;
        position: absolute;
        margin-right: -70px;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .proj:hover{
        width: 250px;
    }
    
    .proj:hover .rigth_side_project{
        margin-left: -0px;
    }
    
    .proj:hover h1{
        margin-left: -150px;
    }
    
    .proj h1::first-letter{
        border-bottom: 5px solid white;
    }
    
    .preview{
        width: 90%;
        height: 13%;
        background-color: rgb(0, 136, 255);
        margin-top: 40px;
        border-radius: 10px;
    }
    
    .flex{
        display: flex;
        width: 100%;
        height: 12%;
    }
    
    .left_project, .rigth_project{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }
    
    .site_btn{
        z-index: 0;
        width: 90%;
        height: 30px;
        border: 1px solid white;
        color: white;
        font-weight: bold;
        font-size: 2vw;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
        text-decoration: none;
    }
    
    .site_btn:hover::before{
        width: 100%;
        background-color: rgb(14, 13, 13);
    }
    
    .description{
        width: 100%;   
        font-size: 3vw;
    }
    
    .title{
        font-size: 20px;
    }
    
    .techno{
        gap: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .preview-image{
        display: none;
        border-radius: 2px;
    }
    
    .techno img{
        width: 10px;
        height: 10px;
    }
    
    .site_btn span{
        margin-top: 0px;
        font-size: 3vw;
    }
    
    .site_btn::before{
        transition: 0.3s ease;
        position: absolute;
        content: '';
        height: 100%;
        width: 0%;
        z-index: -1;
    }
    
    .techno-list {
        margin-left: -20px;
        padding: 0;
        display: flex;
    }
    
    .tech-item {
        margin-left: 20px;
        margin-right: -10px;
        font-size: 16px;
        list-style-type: none;
    }

    /*QUARTA*/

    .section_four_journey_rigth_side h1{
        font-size: 15px;
        font-weight: 300;
    }
    
    .section_four_journey_rigth_side h2{
        font-weight: 300;
        font-size: 13px;
        text-align: center;
        margin-top: -10px;
    }

    .input_text{
        background-color: transparent;
        border-bottom: 1px solid white;
        color: #e6e5e5;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        font-size: 6px;
        resize: none;
        width: 100%;
    }

    .input_text::placeholder{
        font-size: 5vw;
    }
    
    .email_adress_name{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        width: 65vw;
    }
    
    .section_four_journey_rigth_side{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input_area{
        height: 50px;
        background-color: transparent;
        border-bottom: 1px solid white;
        color: #ffffff;
        font-size: 30px;
        width: 100%;
    }
    
    .input_area::placeholder{
        font-size: 13px;
    }

    .message{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .send_msg{
        transition: 0.3s ease;
        width: 80%;
        height: 40px;
        font-weight: 100;
        background-color: transparent;
        border: 1px solid white;
        color: #c4b9b9;
        font-size: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        position: relative;
        z-index: 0;
        margin-top: -20px;
    }

    .send_msg span{
        color: #ffffff;
        font-size: 20px;
    }

    .other_conect p{
        font-size: 3vw;
        text-align: center;
    }

    .other_conect img{
        margin-top: -8px;
        width: 40px;
        height: 40px;
        background-color: rgb(255, 255, 255);
    }

    #instaicon{
        width: 37px;
        height: 37px;
        background-color: #000;
    }
}

@media screen and (max-width: 500px) and (max-height: 600px) {
    .me img{
        height: 170px;
        width: auto;
    }

    .main_matter_picture_left_side h2 {
        transition: 0.3s ease;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 15px;
        width: 80%;
        margin-top: -40px;
        margin-bottom: -10px;
    }

    .main_matter_picture_left_side h1 {
        transition: 0.3s ease;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
        font-size: 40px;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .section_locate {
        animation: 1s intro_main_matter_picture_reverse ease;
        height: 150px;
        display: flex;
    }

    .git-logo {
        background-color: #ffffff;
        border-radius: 50%;
        height: 45px;
    }
    
    .linkend-logo {
        height: 45px;
        background-color: #ffffff;
        border-radius: 4px;
    }

    .sections{
        transition: 0.3s;
    }
}
