body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.5s ease; /* Adiciona uma transição suave para a mudança de cor de fundo */
}

.container {
  position: relative;
  height: 300vh; /* Altura suficiente para rolar e ver a mudança */
}


.div1, .div2, .div3 {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: transparent;
}

.div1 { top: -100vh; background-color: #3498db; }
.div2 { top: 0; background-color: #e74c3c; }
.div3 { top: 100vh; background-color: #2ecc71; }

/* Altera a posição à medida que você rola para baixo */
body.scrolled .div1 { top: -200vh; }
body.scrolled .div2 { top: -100vh; }
body.scrolled .div3 { top: 0; }

/* Altera a cor de fundo do corpo quando rolar */
body.scrolled {
  background-color: #333;
}
