@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&family=Oswald:wght@400;500&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@400;500&family=Kanit:wght@200;300;400&family=Oswald:wght@400;500&family=Protest+Strike&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #dad3d3;
    cursor: url('../assets/cursor.png'), auto;
    background-color: #000000;
}
  
/*header style*/

header{
    display: flex;
    justify-content: end;
}

.container_header{
    width: 15vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.main_container_header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    animation: 1s intro_main_matter_picture_reverse ease;
}

.main_container_header li{
    color: aliceblue;
}

@keyframes animation_menu_reverse{
    from{
        height: 50px;
        width: 90px;
        margin-top: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        color: white;
        background-color: transparent;
        border: 0px;
    }to{

    }
}

.blink::after {
    content: "|";
    height: 10px;
    width: 2px;
    animation: blink-animation 0.5s infinite alternate;
  }

  @keyframes blink-animation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.menu_ul{
    transform-origin: right top;
    transition: scale 0.3s ease;
    position: fixed;
    top: 28%;
    left: 87%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    z-index: 2;
    scale: 0;
}

.menu_ul_open{
    transform-origin: right top;
    transition: scale 0.3s ease;
    position: fixed;
    top: 28%;
    left: 87%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    z-index: 2;
    scale: 1;
}

@keyframes intro_menu {
    from{
        height: 0px;
    }to{
        height: 400px;
    }
}

@keyframes intro_menu_rev {
    from{
        height: 400px;
    }to{
        height: 0px;
    }
}

.menu{
    height: 50px;
    width: 90px;
    margin-top: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color: rgb(226, 223, 223);
    background-color: transparent;
    border: 0px;
}

#menu{
    position: relative;
    z-index: 3;
}

.menu::before{
    transition: 0.1s linear;
    font-size: 130px;
    content: "_";
}

.menu::after{
    transition: 0.1s linear;
    font-size: 90px;
    content: "_";
    margin-top: -70px;
}

.menu-toggle{
    height: 50px;
    width: 90px;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    color: rgb(12, 12, 12);
    background-color: transparent;
    border: 0px;
}

.menu-toggle::before{
    transition: 0.1s linear;
    font-size: 130px;
    content: "_";
    transform: rotate(45deg);
    transform-origin: bottom;
}

.menu-toggle::after{
    transition: 0.1s linear;
    transform: rotate(-45deg);
    transform-origin: bottom;
    font-size: 130px;
    content: "_";
    margin-top: -150px;
    margin-right: -10px;
}

.main_container_header ul{
    margin-right: 100px;
    display: flex;
    gap: 30px;
    border: 0;
    list-style-type:none;
    height: 30px;
    align-items: center;
}

.section_locate{
    animation: 1s intro_main_matter_picture_reverse ease;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square{
    height: 3px;
    width: 30px;
    background-color: #b1adad;
}

.square_mark{
    height: 5px;
    width: 50px;
    animation: intro-square_mark 0.3s ease;
    background-color: #ffffff;
}

@keyframes intro-square_mark {
    from{
        height: 3px;
        width: 30px;
        background-color: #ffffff;
    }to{
        height: 5px;
        width: 50px;
        background-color: #ffffff;
    }
}

/*---------------------------------*/

.section {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    
}

@keyframes animation_background{
    from{
        scale: 0.2;
    }
    to{
        scale: 1;
    }
}

@keyframes animation_background_reverse{
    from{
        scale: 0.2;
    }
    to{
        scale: 1;
    }
}

/*css primeira secção*/

#section1 {
    height: 100vh;
    width: 100%;
    visibility: visible;
    display: flex;
}

.left_side_section_one{
    width: 100vw;
    height: 100vh;
}

.main_matter_picture{
    background-image: radial-gradient(circle at 20% 0%, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.976), black);
    height: 100vh;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

@keyframes intro_main_matter_picture_pic{
    from{
        margin-top: 100%;
    }to{
        margin-top: 0;
    }
}

@keyframes intro_main_matter_picture{
    from{
        margin-left: -100%;
    }to{
        margin-left: 0;
    }
}

@keyframes intro_main_matter_picture_reverse{
    from{
        margin-top: 600%;
    }to{
        margin-top: 0px;
    }
}

.main_matter_picture_left_side{
    width: 100%;
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

.link_resume{
    color: #bbb7b7;
    margin-right: 1px;
    cursor: pointer;
}

.flex_direction{
    display:  flex;
    justify-content: space-between;
    gap: 20px;
}

.git-logo{
    background-color: #ffffff;
    border-radius: 50%;
    height: 60px;
}

.linkend-logo{
    height: 60px;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 4px;
}

.main_matter_picture_left_side_2{
    width: 20%;
    color: #dad3d3;
    height: 100%;
    text-align: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    animation: 1s intro_main_matter_picture ease;
}

.main_matter_picture_left_side_2 p{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 100px;
    white-space: nowrap;
}


.main_matter_picture_left_side_2 p{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 100px;
    white-space: nowrap;
}

.main_matter_picture_left_side_2 span{
    height: 50px;
    width: 5px;
    background-color: #e6e5e5;
    margin-top: -190px;
}

.main_matter_picture_left_side_2  h2{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 30px;
    transform: rotate(90deg);
    margin-top: 40px;
    white-space: nowrap;
}


.main_matter_picture_left_side p{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 19px;
    width: 50%;
    color: #ffffff;
}

.main_matter_picture_left_side h1{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 40px;
}

.main_matter_picture_left_side h1::first-letter{
    border-bottom: 2px solid white;
}

.main_matter_picture_left_side h2{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 100px;
    width: 70%;
    margin-top: -40px;
    margin-bottom: -20px;
}

.rigth_side_section_one{
    width: 20vw;
    height: 100vh;
}

.main_rigth_side_section_one{
    animation: 1s main_rigth_side_section_one ease;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@keyframes main_rigth_side_section_one{
    from{
        margin-left: 100%;
    }to{
        margin-left: 0;
    }
}

.card_skill{
    height: 100%;
    width: 35%;
    border-right: 1px solid black;
}

.ad_matter{
    height: 25vh;
    width: 100%;
    border-bottom: 10px solid black;
    background-color: #ffffff;
}

.main_ad_matter{
    width: 100%;
    height: 30vh;
    animation: 1s main_ad_matter ease;
    display: flex;
}

@keyframes main_ad_matter{
    from{
        margin-top: 100%;
    }to{
        margin-top: 0;
    }
}

.me{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23%;
    animation: intro_main_matter_picture_pic 1s ease;
}

.me img{
    max-width: 100vh;
    height: auto;
    border-radius: 50%;
}

/*------------------------------------------*/
/*segunda secção*/

.section_two_journey{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(circle at 2% 99%, rgba(0, 0, 0, 0.965), rgba(0, 0, 0, 0.985), black);
    display: flex;
}

.section_two_journey_left_side{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 20%;
}

.section_two_journey_left_side p{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 100px;
    white-space: nowrap;
}


.section_two_journey_left_side p{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 100px;
    white-space: nowrap;
}

.section_two_journey_left_side span{
    height: 50px;
    width: 5px;
    background-color: #e6e5e5;
    margin-top: -100px;
}

.section_two_journey_left_side  h2{
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    font-size: 30px;
    transform: rotate(90deg);
    margin-top: 100px;
    white-space: nowrap;
}

.section_two_journey_rigth_side{
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section_two_journey_rigth_side_content{
    height: 80%;
    width: 80%;
    background-color: #252525;
    border-radius: 30px;
    background-image: url(https://i.pinimg.com/originals/91/cb/fb/91cbfb07c0333f9f2eb0ddbc04b850ca.jpg);
    background-repeat: no-repeat;
    cursor: grab;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.journey_top{
    width: 100%;
    height: 50%;
    align-items: end;
    justify-content: center;
    display: flex;
}

.journey_bottom{
    width: 100%;
    height: 50%;
    align-items: start;
    justify-content: center;
    display: flex;
}

.card{
    height: 160px;
    width: 800px;
    background-color: #ffffff;
}

.card_span{
    height: 160px;
    width: 800px;
}

/*------------------------------------------*/

#section3 {
    background-color: lightcoral;
}

#section4 {
      background-color: lightsalmon;
  }

  @keyframes slideIn {
      from {
          margin-bottom: 100%;
        }
        to {
          margin-bottom: 0%;

    }
  }